
.first_vue {
    width: 100%;

    background: #A8A8CD;
   
    overflow: hidden;
   
    
}

.main-container {
    background: #D9D9D9; position: relative; z-index: 0;
}
.inner-container{
    position: relative;
    z-index: 0;
    max-width: 1980px;
     margin: 0 auto;
}

/*background animation and style*/


.f_cercle {
    position: absolute;
    width: 278.566px;
    height: 308.392px;
    flex-shrink: 0;
    margin-top: 3px;
    background: rgba(100, 77, 160, 0.6);
    filter: blur(125px);
    animation: anim1 10s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes anim1 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(141px, -3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.s_cercle {
    position: absolute;

    width: 348.781px;
    height: 396.696px;
    transform: rotate(-179.59deg);
    flex-shrink: 0;
    background: rgba(100, 77, 160, 0.6);
    filter: blur(125px);
    margin-left: 171px;
    margin-top: 198px;
    animation: anim2 10s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes anim2 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(173px, 252px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.t_cercle {
    position: absolute;
    width: 245.674px;
    height: 262.585px;
    transform: rotate(-179.59deg);
    flex-shrink: 0;
    background: rgba(100, 77, 160, 0.6);
    filter: blur(125px);
    margin-left: 1125px;
    margin-top: 113.24px;
    animation: anim3 10s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes anim3 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(526px, -98px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.r_cercle {
    position: absolute;
    width: 331.311px;
    height: 366.784px;
    transform: rotate(-179.59deg);
    flex-shrink: 0;
    background: rgba(100, 77, 160, 0.6);
    filter: blur(125px);
    margin-left: 1646px;
    margin-top: 358px;
    animation: anim4 10s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes anim4 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-659px, -40px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.cerc {
    z-index: -1;
}

/*end of backound animations*/


/*navbar css*/


.nav_item a {
    color: #F8F8FB;
    font-family: 'Coco Gothic';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav_item {
    position: relative;
    margin-right: 25px;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 2px;
}

.nav_items_container {
    display: flex;

}

.nav_item::before {

    content: ' ';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    transform: translateX(-120%);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.nav_item:hover::before {
    transform: translateX(0);
    opacity: 1;
}

.butn span {

    font-family: 'Coco Gothic Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F8F8FB;
    margin: 18px 30px 18px;


}

.butn {
    border-radius: 5px;
    border-color: transparent;

    height: 70px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #644DA0;
    position: relative;
    transition: all 0.7s;
    border: none;
    z-index: 0;

}

.butn:hover span,
.butn:hover {
    color: #644DA0;
    background-color: transparent;
}

.butn::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    top: 0;
    right: -40px;
    height: 100%;
    background-color: #D9D9D9;
    transform: skewX(45deg);
    transition: all 0.7s;

}

.butn:hover::after {
    width: 160%;

}

.nav-items {

    display: flex;
   align-items: center;
   

}

.nav {

    display: flex;
    justify-content: space-between;
    max-width: 1980px;
}
.nav-container{
    margin: 50px 100px 50px;
    
 
}

.sticky {  
    position: fixed ;
    top: 0;
    left: 0;   
    width: 100%;
    background-color:rgba(116, 118, 161, 0.8);
    margin: 0 auto;
    z-index: 999999999; 
    padding: 10px 100px 10px;
    border-bottom: 10px;
    transition: all 0.3s;
   
    
}
.sticky .nav{
    margin: 0 auto;
    
}


/*End of navbar css*/


/*images and barres first section css*/
.barre1 {
    position: absolute;
    width: 124.393px;
    height: 52.589px;
    transform: rotate(90deg);
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(100, 77, 160, 0.50);
    right: 29%;
    top: 30%;
    z-index: -1;
}

.img1 {
    position: absolute;
    z-index: -1;
    right: 8%;
    top: 11%;
}

.img2 {
    position: absolute;
    z-index: -1;
    right: 17%;
    top: 39%;
}

.img3 {
    position: absolute;
    z-index: -1;
    right: 10%;
    top: 52.5%;
}

.barre2 {
    position: absolute;
    width: 147.654px;
    height: 52.589px;
    transform: rotate(90deg);
    flex-shrink: 0;
    border-radius: 5px;
    background: #E5E4ED;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
    right: 4%;
    top: 46%;
    z-index: -1;
}

.barre3 {
    position: absolute;
    z-index: -2;
    width: 219.458px;
    height: 52.589px;
    transform: rotate(90deg);
    flex-shrink: 0;
    border-radius: 5px;
    background: #7476A1;
    right: 4%;
    top: 60%;
}

/*end of images and barres first section css*/

/* Section1 */
.row.section1 {
    margin: 150px 100px 200px;
}

.section1_title p {
    color: #F8F8FB;
    font-family: 'Coco Gothic Regular';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    width: 892px;
}
.button-container {
    display: flex;
    position: relative;
  }
.search_bar_type button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    height: 52px;
    transition: background-color 0.7s ease;
    padding: 0;
    position: relative;
}

.background-highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.51);
    width: 88.95px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index:-1;
  }

.col.search_bar_type {
    width: auto;
}


.search_bar_type button span {
    color: #F8F8FB;
    font-family: 'Coco Gothic Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 11px 25px 11px;

}

.col.search {
    margin-top: 150px;
    margin-right: 800px;
}

.search_details button {
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.51);
    border-color: transparent;
    width: 88.846px;
    height: 70px;
    margin-left: 14px;
}

.search_details button:hover svg g path {
    fill: #644DA0;
    transition: 0.6s;
}


.flex-container {
    display: flex;
    align-items: center;
}

.searchbarre input {
    border-radius: 9px;
    background: #F8F8FB;
    width: 481px;
    height: 70px;
    flex-shrink: 0;
    border-color: transparent;
    margin-left: 30px;
    outline: none;
}

.searchbarre input::placeholder {
    color: #ABABAE;
    font-family: 'Coco Gothic Regular';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.searchbarre {
    border-radius: 9px;
    position: relative;
    background: #F8F8FB;
    width: 581px;
    height: 70px;
    margin-right: 91px;
}

.cont {
    width: auto;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.25);
    width: 100%;
    padding: 40px 50px 42px 50px;
}



.flechholder {
    position: absolute;
    top: 22px;
    right: 5%;
    background-color: transparent;
    border: none;

    transition: transform 0.8s ease;
}

.flechholder:hover {
    transform: rotate(180deg);

}


.sponsor_container {

    background-color: #D9D9D9;

}


/* Collections container */
.collection-container {
    background: rgba(248, 248, 251, 0.45);
  padding-top: 74px;
  position: relative;
  z-index: -1;

}

.collection_title {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    

}

.collection_desc {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  margin-bottom: 75px;
    width: 700px;
}

.first_collections {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
}
.card-container{
    width:517px;
    overflow: hidden;
}

.small_details {
    display: flex;
    justify-content: end;

}

.small_details div {
    margin-left: 20px;
    display: flex;
    align-items: end;
}

.small_details div span {

    color: #000;
    font-family: Chivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_title {
    color: #000;
    font-family: 'Coco Gothic Regular';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.card_speech {
    
    color: #000;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.8;

}

.money {
    display: flex;
    justify-content: end;

    color: #000;
    font-family: Chivo;
    font-size: 32px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
}

.location span {
    color: #000;
    font-family: 'Coco Gothic Light';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.location {
    display: flex;
    align-items: end;
}
.col_image img{
   
    max-width: 100%;
}

.col_type {

    position: absolute;

    color: #FFF;
    font-family: 'Coco Gothic Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(217, 217, 217, 0.60);

}

.location svg {
    margin-right: 5px;
}

.nmb {
    margin-right: 5px;
}

.Collection_button {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}



/*/collection-container*/


/*how it work container*/
.howitwork-container {

    position: relative;
    max-width: 1980px; 
    margin: 0 auto;
    z-index: -1;
}

.hiw-title {

    margin-top: 174px;
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    /* 140.625% */
}

.hiw-desc {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 150px;
}

.howitwork_details .row {
    margin: auto 130px auto;

    overflow: hidden;
}

.howitwork_details {
    position: relative;
    padding-bottom: 200px;
}

.howitwork_details .row .col {
    margin: auto 50px auto;
    padding: 0;
}

.title {
    color: #000;
    width: auto;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px auto 8px;
}

.desc {
    color: #000;
    text-align: center;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    height: 76px;
    display: flex;
    justify-content: center;
}

.flech1 {
    position: absolute;
    left: 21%;
    top: -5%;

}

.flech2 {
    position: absolute;
    left: 44%;
    top: -10%;
}

.flech3 {
    position: absolute;
    right: 20%;
}

/*/how it work container*/


/*Relators container*/
.relator-container {
    background-color: #A8A8CD;
    position: relative;
    z-index: -1;
}
.relator-inner-container{
    max-width: 1980px; margin: 0 auto;
}

.relator-title {
    color: #FFF;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    
    margin: 0 auto;
    margin-bottom: 13px;
    padding-top: 160px;
}
.relator-image{
    width: 184px;
    display: flex;
    margin: 0 auto;
}
.relator-image img{
    max-width: 100%;
}
.relator-speech {
    color: #FFF;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 909px;
    margin: 0 auto;
    padding-bottom: 53px;
}

.relators {
    margin: 130px 120px 229px;
    display: flex;

}
.relator{
    margin: auto 20px auto;
    text-align: center;
    padding: 10px;
    
}



.relator-name {
    color: #ffffff;
    font-family: 'Coco Gothic Regular';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4px;
}

.relator-desc {
    color: #FFF;
    text-align: center;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.video-section {
    display: flex;
    justify-content: center;
    opacity: 0.8;
    position: relative;
    overflow: hidden;
}

.video {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
    overflow: hidden;

}

video {
    filter: blur(7px);

}

.video-container {
    display: flex;
    justify-content: center;
    
    
    align-items: center;
    margin: 180px auto 180px;
}

.vid-title {
    color: #FFF;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    /* 140.625% */
}

.vid-speech {
    color: #FFF;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;

}
.des{
    
    width: 725px;
}
.vid-title,.vid-speech{
    display: inline-block;
}

.form-mansion {
    text-align: center;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.50);
    margin-left: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.form-title {
    color: #FFF;
    font-family: 'Coco Gothic Regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;

}

.form-desc {
    color: #FFF;
    font-family: 'Coco Gothic Light';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.form-inp {
    margin-bottom: 22px;
    padding: 4px;
    padding-left: 30px;
    background-color: #F8F8FB;
    border-radius: 9px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.form-inp input {

    background: #F8F8FB;
    width: 497.912px;
    height: 65.344px;
    outline: none;
    border: none;
}

.form-inp input::placeholder {
    color: #ABABAE;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.video-section {
    margin-top: 132px;
   

    display: flex;




}

/*/Relators container*/

/*Why us container*/

.whyus-title {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    padding-top: 140px;
}

.whyus-desc {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 492px;
    margin: 0 auto;
    margin-bottom: 95px;
}

.whyus-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 129px;

}

.whyus-card {
    width: 404px;
    height: 464px;

    border-radius: 0px 0px 10px 10px;
    border-top: 4px solid #9747FF;
    background: #FFF;
    margin: auto 50px auto;
    transition: height 0.5s ease;
    position: relative;
    z-index: 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.whyus-card::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    background-color: #FFF;
    z-index: -1;
    transition: height 0.3s ease;
}

.whyus-card:hover::after {
    height: 480px;
}

.whyus-card:hover {
    box-shadow: none;
}

.whyus-card-title {
    color: #9747FF;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 60px 80px 65px;
    height: 93px;
    flex-shrink: 0;
}

.whyus-card-desc {
    color: #000;
    text-align: center;
    font-family: 'CocoGothic-Light',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 204px;
    margin: auto 53px auto;

}

.commentary-title {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    /* 140.625% */
}

.commentary-speech {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 146px;
}

.com {
    width: 1031px;

    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    transform: translateX(200%);
    
    z-index: 1;


}
 .com1 {
    animation: circleAnimation 18s linear infinite;

  }
  
  .com2 {
    animation: circleAnimation 18s linear infinite;
    animation-delay: -6s; 
  }
  .com3 {
    animation: circleAnimation 18s linear infinite;
    animation-delay: -12s; 
  }
  
  
@keyframes circleAnimation {
    0% {
        transform: translateX(200%);
    }
    15% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-200%);
    } 
    75% {
        transform: translateX(-200%);
    }  
    100% {
        transform: translateX(-200%);
    }
  }


.commentary {
    padding-bottom: 550px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;  
}

.com-image {
    display: flex;
    justify-content: center;

    margin: 37px auto 15px;
}

.com-name {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}

.com-profession {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   color: #000;
font-family: Chivo;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.com-speech {
    color: #000;
    text-align: center;
    font-family: 'Coco Gothic Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto 150px 37px;
}
.whyus{
    
    max-width: 1980px;

    
}
.Whyus-container{
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    overflow: hidden;
   
}
.block1{
    position: absolute;
  
    right: 0%;
}
.block2{
    position: absolute;
  
    left: -10%;
}
.block3{
    position: absolute;

    left: 45%;
    bottom: -13%;
}
.mes1{
    position: absolute;
    right: 10%;
    
    
}
.mes2{
    position: absolute;
    left: 15%;
}
.mes3{
    position: absolute;
    bottom: 5%;
    right: 15%;
}
.wts1{
    position: absolute;
    bottom: 2%;
    left: 10%;
}
.wts2{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*/Why us container*/



/*footer container*/
.footer{
    background: #1D1926;
    
  
}
.footer-container{
   
     max-width: 1980px;
     margin: 0 auto;
     position: relative;
     z-index: 0;
}
.innter-footer{
      margin: auto 150px auto;
      padding-top: 104px;
}
.footer-content{
    display: flex;
    margin: 56px auto 170px;
    
}
.footer-speech{
    color: #FFF;
font-family: 'CocoGothic-Light',sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 370px;
margin-right:196px ;
}
.footer-sec{
    margin-right: 50px;
}
.sec-title{
    color: #FFF;
font-family: 'Coco Gothic Regular';
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 80px;
}
.sec a{
    color: rgba(255, 255, 255, 0.70);
font-family: Chivo;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;

}

.ligne{
    height: 1px;
    background: rgba(255, 255, 255, 0.56);
}
.final-ligne{
    color: rgba(255, 255, 255, 0.77);
font-family: 'Coco Gothic Regular';
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
padding-bottom: 93px;
}
.sec{
    overflow: hidden;
}
.sect{
    position: relative;
    padding-top: 3px;
   
    width: auto;
    overflow: hidden;
}
.sect::before {

    content: ' ';
    position: absolute;
    z-index:9999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.70);
    transform: translateX(-120%);
    opacity: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.sect:hover::before {
    transform: translateX(0);
    opacity: 1;
}
/*/footer container*/

