@font-face {
    font-family: 'Coco Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: url('CocoGothic_trial.ttf') format('ttf');
}

@font-face {
    font-family: 'CocoGothic-Light';
    font-style: normal;
    font-weight: normal;
    src: url('CocoGothic-Light_trial.ttf') format('ttf');
}